<app-endpoint-template (newItemEvent)="setSelectedEndpoint($event)"
  (loadedEvent)="ifLoaded($event)"
  [type]="type"
  [transferData] = "dataTransfer"
  [typeOfTab]="0">
</app-endpoint-template>

@if (!personalConnectExist() && load) {
  <div>
    <h3 class="my-translated-paragraph">
      {{'PERSONAL.ERROR' | translate}}
    </h3>
  </div>
}

@if (personalConnectExist()) {
  <app-navigate-template-download       [transferData]="dataTransfer"
    [selectedEndPoint]="selectedEndPoint"
    [type]="type"
    >
  </app-navigate-template-download>
}
