@if (!accessEndpointFlag && this.load) {
  <div class="center">
    <br>
      <h3 class="center">"{{this.selectedEndPoint.display_name}}" {{'TEMPLATE.ERRORACTIVATION' | translate}}</h3>
    </div>
  }
  @if (accessEndpointFlag) {
    <div class="left">
      @if (selectedDirectory!==null) {
        <mat-form-field appearance="fill">
          <mat-label [attr.aria-label]="'TEMPLATE.DIRECTORY' | translate">{{'TEMPLATE.DIRECTORY' | translate}}</mat-label>
          <input type="search" matInput placeholder="'TEMPLATE.DIRECTORY' | translate" value="{{selectedDirectory}}" (keydown.enter)="searchDirectory($event.target.value)" >
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>{{'TEMPLATE.SEARCH' | translate}}</mat-hint>
        </mat-form-field>
      }
    </div>
  }

  @if (selectedDirectoryExist() && accessEndpointFlag) {
    <div id="container" >
      <div  class="first-row">
        <mat-checkbox class="mat-checkbox"
          [attr.aria-label]="'TEMPLATE.SELECTALL' | translate" #check
          [checked]="checkFlag"
          (change)="selectAll($event, directory)">
          {{'TEMPLATE.SELECTALL' | translate}}
        </mat-checkbox>
        <button  mat-stroked-button (click)="UpOneFolder()" >
          <mat-icon class="class-icon" matSuffix
            [attr.aria-label]="'TEMPLATE.UP' | translate">subdirectory_arrow_left
          </mat-icon>
          {{'TEMPLATE.UP' | translate}}
        </button>
      </div>
      <div class="first-row">
        <button mat-stroked-button (click)="removeAllFromSelected(directory)">
          <mat-icon class="class-icon"  matSuffix
            [attr.aria-label]="'TEMPLATE.REMOVEALL' | translate">
            remove_circle
          </mat-icon>
          {{'TEMPLATE.REMOVEALL' | translate }}
        </button>
      </div>
      <div>
        <cdk-virtual-scroll-viewport itemSize="50" [style.height.px]=5*100>
          <mat-selection-list #directory
            (selectionChange)="onSelection($event)">
            <h2 matSubheader style="min-width: 250px">{{'TEMPLATE.SUBDIR' | translate}}</h2>
            @for (item of personalDirectories; track item) {
              <mat-list-option  [value]="item">
                <mat-list-item color="primary"
                  (click)="checkBox($event, item)"
                  (dblclick)="openDirectory($event, item, directory, check)">
                  @if (isFolder(item)) {
                    <mat-icon class="class-icon" matSuffix>folder</mat-icon>
                  }
                  {{item.name}}
                </mat-list-item>
              </mat-list-option>
            }
          </mat-selection-list>
        </cdk-virtual-scroll-viewport>
      </div>
      <div>
        <cdk-virtual-scroll-viewport itemSize="50" [style.height.px]=5*100>
          <mat-selection-list #varCol (selectionChange)="onRemoving(varCol.selectedOptions.selected, directory)">
            <h2 matSubheader>{{'TEMPLATE.SELECTEDFILES' | translate}}</h2>
            @for (file of selectedFiles; track file) {
              <mat-list-option [value]='file' >
                <mat-list-item>
                  @if (isFolder(file.fileNameObject)) {
                    <mat-icon class="class-icon" matSuffix>folder</mat-icon>
                  }
                  {{file.fileNameObject.name}}
                </mat-list-item>
              </mat-list-option>
            }
          </mat-selection-list>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  }
  <!--<app-upload-file *ngIf="personalConnectExist()"></app-upload-file> -->
  @if (selectedDirectoryExist() && accessEndpointFlag) {
    <div class="center" >
      <button mat-stroked-button (click)="onSubmitTransfer()" [disabled]="!preparedForTransfer()">
        <mat-icon class="class-icon"  matSuffix [attr.aria-label]="'TEMPLATE.SUBMIT' | translate">cloud_upload</mat-icon>
        {{'TEMPLATE.SUBMIT' | translate}}
      </button>
    </div>
  }
