<app-endpoint-template (newItemEvent)="setSelectedEndpoint($event)"
  (loadedEvent)="ifLoaded($event)"
  [type]="0"
  [transferData]="dataTransfer"
  [typeOfTab]="1">
</app-endpoint-template>

@if (!recentlyViewedExist() && load) {
  <div class="center">
    <h3 class="my-translated-paragraph">
      {{'RECENT.ERROR' | translate}}
    </h3>
  </div>
}

@if (recentlyViewedExist() && load) {
  <app-navigate-template [transferData]="dataTransfer"
    [selectedEndPoint]="selectedEndPoint">
  </app-navigate-template>
}



