<app-endpoint-template (newItemEvent)="setSelectedEndpoint($event)"
                       (loadedEvent)="ifLoaded($event)"
                       [type]="type"
                       [transferData] = "dataTransfer"
                       [typeOfTab]="1">
</app-endpoint-template>

@if (!recentlyViewedExist() && load) {
<div class="center">
    <h3 class="my-translated-paragraph">
        {{'RECENT.ERROR' | translate}}
    </h3>
</div>
}

@if (recentlyViewedExist() && load) {
<ng-container class="interface-container">
    <app-navigate-template-download [transferData]="dataTransfer"
                                    [selectedEndPoint]="selectedEndPoint">
    </app-navigate-template-download>
</ng-container>
}

