<app-endpoint-template (newItemEvent)="setSelectedEndpoint($event)"
                       (loadedEvent)="ifLoaded($event)"
                       [type]="0"
                       [transferData] = "dataTransfer"
                       [typeOfTab]="0">
</app-endpoint-template>
@if (!personalConnectExist() && load) {
<div class="center">
    <h3 class="my-translated-paragraph">
    {{'PERSONAL.ERROR' | translate}}
    </h3>
</div>
}

@if (personalConnectExist() && load) {
<ng-container class="interface-container">
        <app-navigate-template [transferData]="dataTransfer"
                               [selectedEndPoint]="selectedEndPoint">
        </app-navigate-template>
</ng-container>
}





